<div id="<%= dom_id client %>">
  <p>
    <strong>Nome:</strong>
    <%= client.nome %>
  </p>

  <p>
    <strong>Sobrenome:</strong>
    <%= client.sobrenome %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= client.endereco %>
  </p>

</div>
